#wrapper{
    margin: 0 auto;
    width: 920px;
}
#dm1{
    float: left;
    width: 271px;
    border: #999999 1px solid;
    height: 450px;
    margin: 15px;
    overflow: hidden;
}

/*#dm1:hover{*/
/*height:480px;*/
/*box-shadow: 0px 0px 5px #690;*/
/*}*/

#dm1 h3{
    height: 30px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
}

#dm1 p{
    text-indent: 2em;
    padding: 5px;
    font-family: "微软雅黑";
    font-size: 12px;
}
#dm2{
    float: left;
    width: 271px;
    border: #999999 1px solid;
    height: 450px;
    margin: 15px;
    overflow: hidden;
}

/*#dm2:hover{*/
/*height:505px;*/
/*box-shadow: 0px 0px 5px #690;*/
/*}*/

#dm2 h3{
    height: 50px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
}

#dm2 p{
    text-indent: 2em;
    padding: 5px;
    font-family: "微软雅黑";
    font-size: 12px;
}
#dm3{
    float: left;
    width: 271px;
    border: #999999 1px solid;
    height: 450px;
    margin: 15px;
    overflow: hidden;
}

/*#dm3:hover{*/
/*height:470px;*/
/*box-shadow: 0px 0px 5px #690;*/
/*}*/

#dm3 h3{
    height: 50px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
}

#dm3 p{
    text-indent: 2em;
    padding: 5px;
    font-family: "微软雅黑";
    font-size: 12px;
}